html {
  box-sizing: border-box;
  font-family: "Lato, sans-serif";
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
  color: #4d4d4d;
}

body {
  width: 100%;
  height: 100%;
  font-size: 1.6em;
}

.wrapper {
  font-size: 1.6rem;
  background: #fffaec;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

html, body {
  width: 100%;
  background: #fffaec;
}

.hourglass {
  display: block;
  background: #fffaec;
  margin: 3em auto;
  width: 2em;
  height: 4em;
  -webkit-animation: hourglass 1s linear infinite;
          animation: hourglass 1s linear infinite;
}

.outer {
  fill: #ffd400;
}

.middle {
  fill: #fffaec;
}

@-webkit-keyframes hourglass {
  0% {
    transform: rotate(0deg);
    box-shadow: inset #ffd400 0 0em 0 0, inset #fffaec 0 -2em 0 0, inset #ffd400 0 -4em 0 0;
  }
  80% {
    transform: rotate(0deg);
    box-shadow: inset #ffd400 0 -2em 0 0, inset #fffaec 0 -2em 0 0, inset #ffd400 0 -2em 0 0;
  }
  100% {
    transform: rotate(180deg);
    box-shadow: inset #ffd400 0 -2em 0 0, inset #fffaec 0 -2em 0 0, inset #ffd400 0 -2em 0 0;
  }
}

@keyframes hourglass {
  0% {
    transform: rotate(0deg);
    box-shadow: inset #ffd400 0 0em 0 0, inset #fffaec 0 -2em 0 0, inset #ffd400 0 -4em 0 0;
  }
  80% {
    transform: rotate(0deg);
    box-shadow: inset #ffd400 0 -2em 0 0, inset #fffaec 0 -2em 0 0, inset #ffd400 0 -2em 0 0;
  }
  100% {
    transform: rotate(180deg);
    box-shadow: inset #ffd400 0 -2em 0 0, inset #fffaec 0 -2em 0 0, inset #ffd400 0 -2em 0 0;
  }
}